*{
margin: 0;
padding: 0;
box-sizing: border-box;

}




header{
width: 100%;
height: 5rem;

background-color: rgb(22, 29, 29);


}
.header_nome{

    color: #ffffff;
text-align: center;
font-size: 4rem;
}
body{

    background-color: rgb(64, 80, 104);
}

section {

background-color: #ffffff;
margin: 5rem auto;
display: flex;
align-items: center;
flex-direction: column;
width: 30em;
height: 25rem;
padding: 2rem;
gap: 1rem;
border-radius: 3%;
}

@media (max-width:465px){

    section{
        max-width: 20rem;
    }



}

@media (max-width:497px){

    section{
        max-width: 25rem;
    }



}



.git-hub{
    width: 12rem;
   position: fixed;
   top: 2rem;
   right: 2rem;
   z-index: 1;
   animation-name:  gite;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-play-state: running;

}

@keyframes gite {  

    50%{
        width: 13rem;
    }

    75%{
        width: 13,5;
    }
}

@media (max-width:497px){

    .git-hub{
        max-width: 5rem;
        position: fixed;
        top: 5rem;
        right: 0.02rem;
        z-index: 1;
        animation-name:  pequeno;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-play-state: running;
    }


  



}


@media (max-width:465px){

    .git-hub{
        max-width: 5rem;
        position: fixed;
        top: 5rem;
        right: 0.02rem;
        z-index: 1;
        animation-name:  pequeno;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-play-state: running;
    }


    @keyframes pequeno {  

        50%{
            width: 6rem;
        }
    
        75%{
            width: 7.5rem;
        }
    }



}



.mensagem{

    font-size: 2rem;
}

.div-imagem{
border-radius: 50%;
width: 15rem;
height: 15rem;

}

.imagem{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

footer{
    width: 100%;
    height: 12rem;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: red;
  
}

.foote-info{
width: 100%;
    display: flex;
    justify-content: space-around;
    height: auto;
  padding: 3rem;
}

@media(max-width:465px){

    .foote-info{
display: flex;
justify-content: space-between;
gap: 1rem;
    }
    
}
@media(max-width: 497px){

    footer{
        height: 8rem;
    }

    .foote-info{
display: flex;
justify-content: space-between;
gap: 1rem;
height: 5rem;
padding: 1rem;
    }
    
}

.img-info{
max-width: 6rem;
}

@media (max-width:465px){

    .img-info {
        max-width: 5rem;
        display: flex;
        justify-content:space-around;
    }



}

@media (max-width:497px){

    .img-info {
        max-width: 5rem;
        display: flex;
        justify-content:space-around;
    }



}
